@font-face {
    font-family: 'norse';
    src: url('../fonts/norse/Norsebold.otf') format('woff'),
}

body {
    height:100vh;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}

.mainSignUpBlock {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.imageArea {
    flex: 1 0 33%;
    background-image: url('../images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#emptySpace1 {
    flex: 1 0 20%;
}

img {
    max-width: 100%;
    max-height: 80%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-area {
    flex: 1 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    overflow: hidden;
}

#odin-text {
    font-family: norse;
    font-size: 8cqh;
}

#imageCredit {
    flex: 1 0 65%;
    display: flex;
    color: white;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

.credit-link {
    color: white;
}

.contentArea {
    flex: 1 0 67%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* text fluff */
#textArea {
    display: flex;
    flex: 1 0 35%;
    padding: 30px;
    white-space: pre-line;
    align-items: flex-end;
}

.boldText {
    font-weight: bold;
    font-size: large;
}

.lightgray {
    background-color: rgb(249, 250, 251);
}

/* user input area */
#sign-up-form {
    flex: 1 0 30%;
    padding: 0px 30px;
    background-color: white;
}

#register-inputs {
    display: flex;
    flex-direction: column;
}

.input-pair {
    display: flex;
    flex-direction: row;
}

.input-element {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-right: 20px;
}

/* sign in buttons and stuff */
#sign-in-area {
    flex: 1 0 35%;
    padding: 30px;
}

#createAccount {
    background-color: #596D48;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
}

/* different debug borders */
.dbgA {
    border-style: dotted;
    border-width: 5px;
    border-color: black;
}

.dbgB {
    border-style: dashed;
    border-width: 5px;
    border-color: blue;
}

.dbgC {
    border-style: double;
    border-width: 5px;
    border-color: green;
}